/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticond41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.woff2") format("woff2"),
    url("../fonts/flaticon.woff") format("woff"),
    url("../fonts/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon.svg#Flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-settings:before {
    content: "\f101";
}
.flaticon-inspiration:before {
    content: "\f102";
}
.flaticon-creativity:before {
    content: "\f103";
}
.flaticon-technology:before {
    content: "\f104";
}
.flaticon-technical-support:before {
    content: "\f105";
}
.flaticon-coding:before {
    content: "\f106";
}
.flaticon-extension:before {
    content: "\f107";
}
.flaticon-it-service:before {
    content: "\f108";
}
.flaticon-data-access:before {
    content: "\f109";
}
.flaticon-curve:before {
    content: "\f10a";
}
.flaticon-cyber-security:before {
    content: "\f10b";
}
.flaticon-internet-security:before {
    content: "\f10c";
}
.flaticon-arrow:before {
    content: "\f10d";
}
.flaticon-document:before {
    content: "\f10e";
}
.flaticon-verified:before {
    content: "\f10f";
}
.flaticon-cyber-security-2:before {
    content: "\f110";
}
.flaticon-hacker:before {
    content: "\f111";
}
.flaticon-server:before {
    content: "\f112";
}
.flaticon-folder:before {
    content: "\f113";
}
.flaticon-cyber-security-3:before {
    content: "\f114";
}
.flaticon-cybersecurity:before {
    content: "\f115";
}
.flaticon-wreath:before {
    content: "\f116";
}
.flaticon-security-testing:before {
    content: "\f117";
}
.flaticon-profit-margin:before {
    content: "\f118";
}
.flaticon-test:before {
    content: "\f119";
}

